main {
  display: flex;
  flex-direction: column;
  padding: 0 5%;

}

.smartphoneVisible{
  display:none;
}
#date_heure, #ville, #lieu, #rue, #cp, #cp_valeur, #nom_sortie_label, #nom_sortie, #date_heure_label, #date_heure,
#ville_label, #lieu_label, #rue_label, #rue, #latitude, #latitude_label, #latitude, #longitude_label, #longitude,
  #cloture_label, #cloture, #nbPlaces_label, #nbPlaces, #duree_label, #duree, #description_label, #description
{
  display: none;
}

a {
  color: white;
}

.default_container {
  justify-content: flex-start;
  max-height: 63vh;
}

#main_display_event_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: start;
  width: 100%;
}

#event_display_container {
  width: 75%;
  height: 63vh;
}

#participants_list_container {
  width: 25%;
}

/* Bloc "Info Sortie" - Global */
.event_display {
  display: grid;
  grid-template-columns: 3fr 1fr 0.5fr 0.5fr 1.5fr 2fr 2fr 2fr;
  grid-template-rows: repeat(8,4vh);
  width: 100%;
  row-gap: 3vh;
  column-gap: 1.5vw;
  padding: 2.25vh 1vw 0 1vw;
}

/* Bloc "Info Sortie" - Spécifique */
/* Nombre de place (personnes) */
#event_person_number{
  grid-column: 3/5;
  grid-row: 4;
  display: flex;
  align-items: center;
  color: white;
}

/* Durée de l'évènement */
#event_duration_unit {
  grid-column: 3/5;
  grid-row: 5;
  display: flex;
  align-items: center;
  color: white;
}

/* Description de l'évènement */
#event_description {
  grid-row: 6/8;
  resize: none;
  align-items: start;
  background-color: var(--primary-color);
  color: white;
}

#event_reason {
  grid-row: 6/8;
  resize: none;
  align-items: start;
  background-color: var(--primary-color);
  color: white;
}

.display_event_button {
  grid-column: span 8;
  grid-row: 8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.display_event_button button {
  height: 4vh;
  width: 12vw;
}

/* Placement du formulaire par lignes et par colonnes */
.column1{
  grid-column: 1/2;
  display: flex;
  align-items: center;
}

.column2{
  grid-column: 2/3;
  display: flex;
  align-items: center;
}

.column2-4{
  grid-column: 2/5;
  display: flex;
  align-items: center;
}

.column2-5{
  grid-column: 2/6;
  display: flex;
  align-items: center;
}

.column6{
  grid-column: 6/7;
  display: flex;
  align-items: center;
}

.column7{
  grid-column: 7/8;
  display: flex;
  align-items: center;
}

.column7-8{
  grid-column: 7/9;
  display: flex;
  align-items: center;
}

.row1 {
  grid-row: 1;
}

.row2 {
  grid-row: 2;
}

.row3 {
  grid-row: 3;
}

.row4 {
  grid-row: 4;
}

.row5 {
  grid-row: 5;
}

.row6 {
  grid-row: 6;
}

.row7 {
  grid-row: 7;
}


/* Partie Tableau des participants */
.default_container .default_table_wrapper {
  width: 100%;
}

.default_container table td:last-child {
  text-align: start;
  padding-left: 1vw;
}

.default_container table td a {
  color: white;
}

@media screen and (max-width: 768px) {


  #main_display_event_container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
  }

  .header_menu_nav {
    height: 20vh;
  }

  .user_menu_nav {
    top: 0;
  }

  .default_container {
    height: auto;
  }

  #event_display_container {
    height: fit-content;
    padding-bottom: 2.5vh;

    width: 99%;
  }

  .event_display{
    grid-template-columns: 4fr 1fr 0.5fr 0.5fr 1.5fr 2fr 2fr 2fr 0.5fr;
    row-gap: 2vh;
    column-gap: 1vh;
  }

  .event_display label,
  .event_display span {
    font-size: 1.7vh;
  }

  .display_event_button button{
    width: 15vw;
  }

  .default_container .default_table_wrapper {
    width: 100%;
    height: 25vh;
    font-size: 2vh;
  }

   .default_table {
    height: fit-content;
  }
  .default_container .default_table_wrapper {
    width: 100%;
    /* height: 35vh;*/
  }

  .default_container table td:last-child {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .default_table_wrapper.td{
    width:50%;
  }
  .default_container {
    /*max-width: 425px;*/
    width: 100%;
    font-size: 5px;
  }
  #participants_list_container{
    width: 99%;
    height: 20vh;

  }
  .column2-4{
    grid-column: 2/6;

  }
  #event_person_number, #event_duration_unit{
    grid-column: 3/6;
  }
  #event_latitude, #event_longitude, #event_postal_code{
    grid-column: 7/9;
  }
}


@media screen and (max-width: 480px) {

  body {
    height: auto;
box-sizing: border-box;
  }
  .smartphoneCache{
    display: none;

  }
  #date_heure, #ville, #lieu, #rue, #cp, #cp_valeur, #nom_sortie_label, #nom_sortie, #date_heure_label, #date_heure,
  #ville_label, #lieu_label, #rue_label, #rue, #latitude, #latitude_label, #latitude, #longitude_label, #longitude,
  #cloture_label, #cloture, #nbPlaces_label, #nbPlaces, #duree_label, #duree, #description_label, #description
  {
    display: block;
  }
 header{
   margin:15px 15px 0 15px;
 }
  .smartphoneVisible{
    display: block;

    justify-content: center;

  }
  span{
    padding: 3px;
  }

  th.smartphoneVisible{
    padding: 4px;
    border: none;
  }
  .default_container {
    /*max-width: 425px;*/
    width: 100%;
    font-size: 5px;
  }
h2{
  font-size: 2vh;
}
.column1{
  padding-left: 2vh;
}
div.event_display{
padding-top: 10px;
}
th{
  font-size: 2vh;
}
  #event_display_container {
    padding-bottom: 0;
    width: 99%;
    height: 60vh;
  }

  .event_display {
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(16,3vh);
    grid-row-gap: 1.5vh;
    width: 100%;
    height: auto;
    padding-right:2vw;
    padding-left:2vw;
  }

  #main_display_event_container {
    display: flex;
    flex-direction: column;

    width: 100%;
  }


  #participants_list_container{
    width: 99%;
    height: 20vh;

  }


  .column1.row1 {
    padding-left: 2vw;
  }

  .column2-5 {
    /*width: 46vw;*/
    padding-left: 2vw;
  }
  .event_display label,
  .event_display span {
    font-size: 2vh;
  }
  #event_person_number{
    display: none;
  }
  #event_duration_unit{
    display: none;
  }

  .column1.row1{
    grid-row: 1;
    grid-column: 1;
  }

  .column2-5.row1{
    grid-row: 1;
    grid-column: 2/6;
  }

  .column1.row2{
    grid-row: 2;
    grid-column: 1;
  }

  .column2-5.row2{
    grid-row: 2;
    grid-column: 2/6;
  }
  .column1.row3{
    grid-row: 3;
    grid-column: 1;
  }
.column2-5.row3{
  grid-row: 3;
  grid-column: 2/6;
}
  .column1.row4{
    grid-row: 4;
    grid-column: 1;
  }
  .column2-5.row4{
    grid-row: 4;
    grid-column: 2/6;
  }
  .column1.row5{
    grid-row: 5;
    grid-column: 1;
  }
  .column2-5.row5-6{
    grid-row: 5/7;
    grid-column: 2/6;
  }
  .column1.row7{
    grid-row: 7;
    grid-column: 1;
  }
  .column2-5.row7{
    grid-row: 7;
    grid-column: 2/6;
  }
  .column1.row8{
    grid-row: 8;
    grid-column: 1;
  }
  .column2-5.row8{
    grid-row: 8;
    grid-column: 2/6;
  }
  .column1.row9{
    grid-row: 9;
    grid-column: 1;
  }
  .column2-5.row9{
    grid-row: 9;
    grid-column: 2/6;
  }
  .column1.row10{
    grid-row: 10;
    grid-column: 1;
  }
  .column2-5.row10{
    grid-row: 10;
    grid-column: 2/6;
  }
  .column1.row11{
    grid-row: 11;
    grid-column: 1;
  }
  .column2-5.row11{
    grid-row: 11;
    grid-column: 2/6;
  }
  .column1.row12{
    grid-row: 12;
    grid-column: 1;
  }
  .column2-5.row12{
    grid-row: 12;
    grid-column: 2/6;
  }
  .column1.row13{
    grid-row: 13;
    grid-column: 1;
  }
  .column2-5.row13-16{
    grid-row: 13/16;
    grid-column: 2/6;
  }

  .column1.row2 {
    padding-left: 2vw;
  }

  .column1.row3 {
    padding-left: 2vw;
  }

  .column1.row4 {
    padding-left: 2vw;
  }

  .column1.row5 {
    padding-left: 2vw;
  }

  .column1.row6 {
    padding-left: 2vw;
  }
  #event_description {
    width: 46vw;
    padding-left: 1.5vw;
  }

  /*.column6.row1 {
    grid-column: 1/2;
    grid-row: 8;
    padding-left: 2vw;
  }

  .column7-8.row1 {
    grid-column: 2/6;
    grid-row: 8;
    width: 46vw;
    padding-left: 1.5vw;
  }

  .column6.row2 {
    grid-column: 1/2;
    grid-row: 9;
    padding-left: 2vw;
  }

  .column7-8.row2 {
    grid-column: 2/6;
    grid-row: 9;
    width: 46vw;
    padding-left: 1.5vw;
  }

  .column6.row3 {
    grid-column: 1/2;
    grid-row: 10;
    padding-left: 2vw;
  }

  .column7-8.row3 {
    grid-column: 2/6;
    grid-row: 10;
    width: 46vw;
    padding-left: 1.5vw;
  }

  .column6.row4 {
    grid-column: 1/2;
    grid-row: 11;
    padding-left: 2vw;
  }

  .column7-8.row4 {
    grid-column: 2/6;
    grid-row: 11;
    width: 46vw;
    padding-left: 1.5vw;
  }

  .column6.row5 {
    grid-column: 1/2;
    grid-row: 12;
    padding-left: 2vw;
  }

  .column7.row5 {
    grid-column: 2/3;
    grid-row: 12;
    padding-left: 1.5vw;
  }

  .column6.row6 {
    grid-column: 1/2;
    grid-row: 13;
    padding-left: 2vw;
  }

  .column7.row6 {
    grid-column: 2/3;
    grid-row: 13;
    padding-left: 1.5vw;
  }

  .column6.row7 {
    grid-column: 1/2;
    grid-row: 14;
    padding-left: 2vw;
  }

  .column7.row7 {
    grid-column: 2/3;
    grid-row: 14;
    padding-left: 1.5vw;
  }

  .display_event_button {
    grid-column: span 5;
    grid-row: 15;
    flex-direction: column;
  }

  .display_event_button button {
    width: 97.5%;
    margin-top: 2vh;
  }*/

  .default_container .default_table_wrapper {
    width: 100%;
   /* height: 35vh;*/
  }

  .default_container table td:last-child {
    padding-left: 3vw;
    padding-right: 3vw;
  }
.default_table_wrapper.td{
  width:50%;
}




}

/*@media screen and (max-width: 376px) {

  .default_container {

    width: 100%;
  }
  .event_display label,
  .event_display span {
    font-size: 2vh;
  }
   .default_table_wrapper {
    width: 375px;
  }

  #main_display_event_container {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  #event_display_container{
    width: 100%;
  }

  #participants_list_container{
    width: 100%;
  }
  .smartphoneCache{
    display: none;
  }
}

@media screen and (max-width: 321px) {

  .default_container {

    width: 100%;
  }

  .event_display label,
  .event_display span {
    font-size: 2vh;
  }

   .default_table_wrapper {
    max-width: 320px;
  }

  #main_display_event_container {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  #event_display_container{
    width: 100%;
  }

  #participants_list_container{
    width: 100%;
  }
  .smartphoneCache{
    display: none;
  }

  .smartphoneVisible{
    display: block;
  }

}*/