/* Partie "Annulation de la sortie - Global" */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.default_container {
  width: 400px;
  margin: auto;
}

.cancel_event_container {
  display: grid;
  grid-template-columns: 1fr 0.80fr 1.2fr;
  grid-template-rows: repeat(8,4vh);
  width: 100%;
  row-gap: 2vh;
  column-gap: 1.5vw;
  padding: 2.25vh 1vw 1.75vh 1vw;
}

/* Partie "Annulation de la sortie - Spécifique" */
#cancel_place_event {
  align-items: start;
  padding: 1vh 0.5vw;
}
.cancel_event_button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column: span 3;
  grid-row: 8;
  padding-bottom: 0.75vh
}

.cancel_event_button button {
  width: 10vw;
}

/* Paramétrage des colonnes et des lignes*/
.column1 {
  grid-column: 1/2;
  display: flex;
  align-items: center;
}

.column2 {
  grid-column: 2/3;
  display: flex;
  align-items: center;
}

.column2-3 {
  grid-column: 2/4;
  display: flex;
  align-items: center;
}

.row1 {
  grid-row: 1;
}

.row2 {
  grid-row: 2;
}

.row3 {
  grid-row: 3;
}

.row4 {
  grid-row: 4;
}

.row4-5 {
  grid-row: 4/6;
}

.row6 {
  grid-row: 6;
}

.row6-7 {
  grid-row: 6/8;
}

@media screen and (max-width: 768px) {

  .header_menu_nav {
    height: 20vh;
  }

  .user_menu_nav {
    top: 0;
  }

}

@media screen and (max-width: 426px) {

  .default_container {
    width: 100%;
  }

  .column1 {
    padding-left: 2vw;
  }

  .column2 {
    padding-left: 1.5vw;
  }

  .column2-3 {
    padding-left: 1.5vw;
    width: 97%;
  }

  #cancel_place_event {
    padding-left: 1.5vw;
  }

  .cancel_event_button button {
    width: 35%;
  }

}