/* Formulaire global */
main {
  display: flex;
  flex-direction: column;
  padding: 0 15%;
}

.default_container {
  width: 100%;
  margin: 0;
}

.form_container{
  display: grid;
  grid-template-columns: 3fr 1fr 0.5fr 0.5fr 1.5fr 2fr 2fr 2fr 0.5fr;
  grid-template-rows: repeat(8,4vh 3vh);
  column-gap: 1.5vw;
  width: 100%;
  margin: auto;
  padding: 2.25vh 1vw 0 1vw;
}

/* Formulaire - Spécifique */
/* Nombre de place (personnes) */
#event_person_number{
  grid-column: 3/5;
  grid-row: 7;
  display: flex;
  align-items: center;
  color: white;
}

/* Durée de l'évènement */
#event_duration_unit{
  grid-column: 3/5;
  grid-row: 9;
  display: flex;
  align-items: center;
  color: white;
}

/* Description de l'évènement */
#event_description {
  grid-row: 11/14;
  resize: none;
}

/*Boutons "Ajouter un lieu" */
#add_place_button,
#add_city_button {
  height: 4vh;
  width: 2.25vw;
  background-color: var(--primary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
  box-shadow: var(--default-shadow);
  transition: transform 0.3s;
  color: white;
  font-size: 2.5vh;
}

/*Boutons "Ajouter un lieu" */
#add_place_button {
  grid-column: 9/10;
  grid-row: 5;
}

#add_city_button {
  grid-column: 9/10;
  grid-row: 3;
}

button#add_place_button:active,
button#add_city_button:active{
  border-style: outset;
  transform: translateY(2px);
}

button#add_place_button:hover,
button#add_city_button:hover {
  background-color: #097FC2;
  border-color: #097FC2;
}

/* Bloc boutons "Enregistrer", "Publier", "Annuler" */
.creation_event_button {
  grid-column: 1/10;
  grid-row: 15;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4vh;
}

.creation_event_button button {
  width: 12vw;
}

.creation_event_button a {
  height: 100%;
}

/* Placement du formulaire par lignes et par colonnes */
.column1{
  grid-column: 1/2;
  display: flex;
  align-items: center;
}

.column2{
  grid-column: 2/3;
  display: flex;
  align-items: center;
}

.column2-4{
  grid-column: 2/5;
  display: flex;
  align-items: center;
}

.column2-5{
  grid-column: 2/6;
  display: flex;
  align-items: center;
}

.column6{
  grid-column: 6/7;
  display: flex;
  align-items: center;
}

.column7{
  grid-column: 7/8;
  display: flex;
  align-items: center;
}

.column7-8{
  grid-column: 7/9;
  display: flex;
  align-items: center;
}

.column7-9{
  grid-column: 7/10;
  display: flex;
  align-items: center;
}

.row1 {
  grid-row: 1;
}

.row2 {
  grid-row: 2;
}

.row3 {
  grid-row: 3;
}

.row4 {
  grid-row: 4;
}

.row5 {
  grid-row: 5;
}

.row6 {
  grid-row: 6;
}

.row7 {
  grid-row: 7;
}

.row8 {
  grid-row: 8;
}

.row9 {
  grid-row: 9;
}

.row10 {
  grid-row: 10;
}

.row11 {
  grid-row: 11;
}

.row12 {
  grid-row: 12;
}

.row13 {
  grid-row: 13;
}

.row14 {
  grid-row: 14;
}

.row15 {
  grid-row: 15;
}

.row16 {
  grid-row: 16;
}

.row11-13 {
  grid-row: 11/14;
}

@media screen and (max-width: 769px) {

  .header_menu_nav {
    height: 20vh;
  }

  .user_menu_nav {
    top: 0;
  }

  .default_container {
    width: 768px;
  }

  .default_container label,
  .default_container input,
  .default_container span,
  .default_container textarea,
  .default_container select{
    font-size: 2.3vh;
  }

  .default_container input,
  .default_container span,
  .default_container textarea {
    padding-left: 1vw;
  }

  .form_container{
    grid-template-columns: 3.5fr 1fr 0.6fr 0.6fr 0.8fr 2fr 1.2fr 2.8fr 0.5fr;
  }

  #add_city_button,
  #add_place_button {
    width: 3vw;
  }

  .creation_event_button button {
    width: 15vw;
  }

}

@media screen and (max-width: 426px) {

  .default_container {
    width: 425px;
    height: auto;
    margin: 2.5vh 0 0 0;
  }

  .default_container label,
  .default_container input,
  .default_container span,
  .default_container textarea,
  .default_container select{
    font-size: 2.4vh;
  }

  .default_container input,
  .default_container span,
  .default_container textarea {
    padding-left: 1vw;

  }

  .form_container{

    grid-template-columns: 2.5fr 1fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: repeat(14,4vh) 18vh;
    padding-bottom: 0;
    height: auto;
    overflow-y: scroll;
  }

  /* Formulaire - Spécifique */
  /* Nombre de place (personnes) */
  #event_person_number{
    grid-column: 3/6;
  }

  /* Durée de l'évènement */
  #event_duration_unit{
    grid-column: 3/6;
  }

  /*Boutons "Ajouter une ville" */
  #add_city_button,
  #add_place_button {
    width: 8vw;
  }

  #add_city_button{
    grid-column: 5/6;
    grid-row: 9;
  }
  /*Boutons "Ajouter un lieu" */
  #add_place_button {
    grid-column: 5/6;
    grid-row: 10;
  }

  /* Bloc boutons "Enregistrer", "Publier", "Annuler" */
  .creation_event_button {
    grid-column: span 5;
    grid-row: 15;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 0.75vh;
    padding-bottom: 0;
  }

  .creation_event_button button {
    width: 98%;
    margin-bottom: 2vh;
  }

  /* Placement du formulaire par lignes et par colonnes */
  .column6.row1 {
    grid-column: 1/2;
    grid-row: 8;
  }

  .column7-9.row1 {
    grid-column: 2/6;
    grid-row: 8;
  }

  .column6.row2 {
    grid-column: 1/2;
    grid-row: 9;
  }

  .column7-8.row2 {
    grid-column: 2/5;
    grid-row: 9;
  }

  #add_city_button {
    grid-column: 5/6;
    grid-row: 9;
  }

  .column6.row3 {
    grid-column: 1/2;
    grid-row: 10;
  }

  .column7-8.row3 {
    grid-column: 2/5;
    grid-row: 10;
  }

  #add_place_button {
    grid-column: 5/6;
    grid-row: 10;
  }

  .column6.row4 {
    grid-column: 1/2;
    grid-row: 11;
  }

  .column7-9.row4 {
    grid-column: 2/6;
    grid-row: 11;
  }

  .column6.row5 {
    grid-column: 1/2;
    grid-row: 12;
  }

  .column7.row5 {
    grid-column: 2/3;
    grid-row: 12;
  }

  .column6.row6 {
    grid-column: 1/2;
    grid-row: 13;
  }

  .column7.row6 {
    grid-column: 2/3;
    grid-row: 13;
  }

  .column6.row7 {
    grid-column: 1/2;
    grid-row: 14;
  }

  .column7.row7 {
    grid-column: 2/3;
    grid-row: 14;
  }

  .column7-9,
  .column2-5 {
    width: 98%;
  }

  .column7-9 input,
  .column7-9 textarea,
  .column7-9 span,
  .column2-5 input,
  .column2-5 textarea,
  .column2-5 span{
    margin-right: 2vh;
  }

  .default_container label,
  .default_container input,
  .default_container span,
  .default_container textarea{
    padding-left: 1.5vw;
  }

}

@media screen and (max-width: 376px) {

  .default_container {
    width: 375px;
  }

  .default_container label,
  .default_container input,
  .default_container span,
  .default_container textarea,
  .default_container select{
    font-size: 2.2vh;
  }

}

@media screen and (max-width: 321px) {

  .default_container {
    width: 320px;
  }

  .default_container label,
  .default_container input,
  .default_container span,
  .default_container textarea,
  .default_container select{
    font-size: 2vh;
  }

}
