main {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.default_container {
  margin: 0;
}

.forgot_pwd_container {
  width: 100%;
}

.forgot_pwd_message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 4vh;
  padding: 2.25vh 2vw 0 2vw;
  overflow-y: hidden;
}

.forgot_pwd_form {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 4vh 3vh 4vh;
  column-gap: 1.5vw;
  align-items: center;
  width: 100%;
  padding: 2.25vh 2vw 2.25vh 2vw;
}

.default_principal_button {
  height: 4vh;
  font-size: 2vh;
}


/* Paramétrage des lignes et des colonnes */
.column1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
}

.column2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
}

.column1-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
  height: 100%;
}

.row1 {
  grid-row: 1;
}

.row2 {
  grid-row: 2;
}

.row3 {
  grid-row: 3;
}

@media (max-width: 426px) {

  .forgot_pwd_message {
    height: 8vh;
  }

  .default_principal_button {
    width: 100%;
  }
}

@media (max-width: 376px) {

  .forgot_pwd_form {
    grid-template-rows: 4vh 3vh 8vh;
  }

  .default_principal_button {
    height: 100%;
  }
}

@media (max-width: 321px) {

  h2 {
    height: 8vh;
    text-align: center;
  }
}