{{ form_start(VilleType, {'attr': {'id': 'form_ville'}}) }}

{{ form_widget(VilleType) }}
<div class="row8 creation_event_button">
    <button type="submit" class="default_principal_button" id="confirm_add_city_button">Ajouter</button>
    <button class="default_secondary_button" id="cancel_add_city_button" formnovalidate>Annuler</button>
</div>
{{ form_end(VilleType) }}