<form id="inscriptionForm" action="{{ path('sortie_inscription', {'id': sortie.id}) }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('inscription_sortie') }}">
    <button type="submit" class="default_tertiary_button">S'inscrire</button>
</form>