<!-- Logo et Nom du site -->
<div class="header_title_container">
    <div class="logo_ENI">
        <a href="#"><img src="{{ asset('img/logo_ENI.svg') }}" id="logo_ENI" alt="logo_ENI"></a>
    </div>
    <div class="app_title_container">
        <h1 id="app_title">Sortir.com</h1>
    </div>
</div>
<!-- Menu global -->
<nav class="header_menu_nav">
    <!-- Menu réservé aux administrateurs -->
    <ul class="admin_menu_nav">
        <li><p class="administrator_li">Administrateur</p></li>
        <li><a href="#" id="administrator_cities_campus">Villes & Campus</a></li>
        <li><a href="#" id="administrator_users">Utilisateurs</a></li>
    </ul>
    <!-- Menu accessible aux connectés -->
    <ul class="user_menu_nav">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Mon profil</a></li>
        <li><a href="#">Se déconnecter</a></li>
    </ul>
</nav>
<!-- Menu hamburger pour les tablettes et smartphones -->
<div class="hbg_user_menu_nav">
    <div class="hbg_user_menu_icon">&#9776</div>
</div>