<form id="desactivationForm" action="{{ path('admin_desactiver') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('desactivation_participant') }}">
    <button type="submit" class="default_tertiary_button">Désactiver</button>
</form>

