<form id="reactivationForm" action="{{ path('admin_reactiver') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('reactivation_participant') }}">
    <button type="submit" class="default_tertiary_button">Activer</button>
</form>


